# Frontend
frontend/.firebase/
frontend/backup/
frontend/src/assets/fonts/*/*

# Backend
backend/backend/__pycache__/
backend/.env

# IDE AI Agent
skills-lock.json
.agents

# unrelated to the project
_*/